/* Slide UI components */
.card-hidden{
    display:none;
}

.arrow{
    position:absolute;
    width:2.25rem;
    height:2.25rem;
    padding:10px;
    background-color:rgba(216,124,26,0.5);
    border-radius:10px;
    border:none;
    width:80px;
    transition: 1s linear;
}

.arrow:hover{
    cursor:pointer;
    background-color:var(--neutral-yellow);
    border:1px solid #000;
}

.arrow-left{
    left:7.5rem;
}

.arrow-right{
    right:7.5rem;
}

.carousel__inidicator{
    display:flex;
    position:absolute;
    top:16rem;
    right:24rem;
    gap:0.25rem;
}

.indicator{
    background-color:var(--neutral-yellow);
    padding:0.55rem;
    border:5px solid black;
    height:0.5rem;
    width:0.5rem;
    border-radius:100%;
    box-shadow: 0px 0px 5px #000;
    margin: 0 0.2rem;
    border:none;
    outline:none;
    cursor:pointer;
}

.indicator-inactive{
    background-color:var(--neutral-light);
}

@media screen and (max-width: 900px){
    .arrow-left{
        left:20rem;
        bottom:34rem;
    }
    
    .arrow-right{
        right:20rem;
        bottom:34rem;
    }
    .carousel__inidicator{
        display:flex;
        position:absolute;
        top:38rem;
        right:12rem;
        gap:0.25rem;
    }
    
}

@media screen and (max-width: 640px){
    .arrow-left{
        left:4rem;
        bottom:38rem;
    }
    
    .arrow-right{
        right:4rem;
        bottom:38rem;
    }
    .carousel__inidicator{
        display:flex;
        position:absolute;
        top:42rem;
        right:6.2rem;
        gap:0.25rem;
    }
}