.bestseller__container{
    padding-top:2.5rem;
    background-color: var(--neutral-yellow);
}

.bestseller__header{
    font-family:var(--handlee);
    font-size:2.25rem;
    font-weight:700;
    text-align:center;
}
.bestseller__menu{
    margin:2rem;
    padding:2rem;
}

/* Card Section */
.card__main{
    display:grid;
    grid-template-columns:repeat(3,minmax(0,1fr));
    gap:3.5rem;
}

.card__container{
    position:relative;
    background-color:#fff;
    border-radius:1rem;
    transition-duration: 200ms;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
    max-width: 300px;
}

.card__container:hover{
    background-color:var(--primary-color);
    color:#fff;
}

.card__image img{
    display:block;
    max-width:200px;
    transform: translateY(-12px);
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-3.75em);
}

.card__content h1{
    padding:1rem;
    text-align:center;
}

@media screen and (max-width: 640px) 
    { .card__main{
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }  
   }
   
@media screen and (max-width: 768px) 
   { .card__main{
   grid-template-columns: repeat(1, minmax(0, 1fr)); 
   gap:1.25rem;
    }  
 }
