@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* Global Scope Component */
@import url("sections/navbar.css");
@import url("sections/footer.css");

/* landing Page Sections */
@import url("sections/home/hero.css");
@import url("sections/home/bestseller.css");
@import url("sections/home/banner.css");
/* @import url("sections/mobile-ads.css");*/

/* About Page Section */
@import url("sections/about/shopinfo.css");
@import url("sections/about/milestone.css");
@import url("sections/about/feedback.css");

/* Order Page Section  */
@import url("sections/order/order.css");
@import url("sections/order/checkout.css");

/* User Interfaces */
@import url("ui-style/carousel.css");
@impotr url("ui-style/confirm-modal.css");

:root {
  --pt-serif: "PT Serif", serif;
  --cookie: "Cookie", sans-serif;
  --handlee: "Handlee", cursive;

  --primary-color: #854d3d;
  --secondary-color: #4a1e1b;

  --neutral-orange: #d87c1a;
  --neutral-yellow: #fffab2;
  --neutral-dark: #270c03;
  --neutral-light: #fff3e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-style: var(--pt-serif);
}

/* Utility Classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-space {
  padding: 2.25rem 2.25rem;
}

.brown-gradient {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--neutral-light);
}

/* Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 10s linear infinite;
}

/* Sticky NavBar Adjustments */
.news__page-container {
  margin-top: 6rem;
  padding-top: 2rem;
}
