.order__menu {
  margin: 3rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Divide into 5 equal columns */
  grid-auto-rows: minmax(100px, auto);
}

/* Header */
.order__page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__page h1 {
  padding: 1.1 rem;
  text-align: center;
}

.order__page-header a {
  text-decoration: none;
}

/* Cards Section */
.ordercards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 25px;
  margin: 4px;
  border: 2px solid black;
}
.ordercards__container img {
  width: 100px;
  height: 100px;
}

.ordercards__content {
  font-weight: 700;
  line-height: 2;
}

.ordercards__button {
  padding: 10px;
  margin-bottom: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.ordercards__button:hover {
  background-color: var(--neutral-orange);
}
